<section class>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="uppercase">Technologies We Use</h4>
                <hr class="mb-xs-24">
            </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="https://cloud.githubusercontent.com/assets/2282642/26455289/f92330a4-4193-11e7-96fd-32ed1a8e3e1c.png" alt="ruby" style="max-width: 10%; margin-right: 40px; max-height: 70px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455286/f8f81e0a-4193-11e7-896d-e81d542b9307.png" alt="rails" style="max-width:50%; margin-right: 40px; max-height: 70px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455282/f8c7d402-4193-11e7-9b8b-16761f247ed7.png" alt="html5" style="max-width:50%; margin-right: 40px; max-height: 70px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455278/f8c0f1c8-4193-11e7-840e-2b44a9aa4ecb.png" alt="css3" style="max-width:100%; margin-right: 40px; max-height: 70px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455285/f8f1ebac-4193-11e7-9d87-69d2b69577f1.png" alt="javascript" style="max-width:100%; margin-right: 40px; max-height: 70px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455284/f8f07e20-4193-11e7-9af0-064dbad9e96a.png" alt="nodejs" style="max-width:30%; margin-right: 40px; max-height: 70px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455291/f92914e2-4193-11e7-9988-e6781c11ab36.png" alt="sinatra" style="max-width:20%; max-height: 70px; margin-right: 20px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455280/f8c24b68-4193-11e7-9d47-9d9b658a3de8.png" alt="airbrake" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455277/f8bff32c-4193-11e7-97e5-c020fae84401.png" alt="aws" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455279/f8c150b4-4193-11e7-88d5-caad8dfc04fe.png" alt="bootstrap" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455281/f8c32600-4193-11e7-8b87-68cb9ab80e8d.png" alt="heroku" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455283/f8ef73c2-4193-11e7-97bb-4f65982268b9.png" alt="jquery" style="max-width:50%; max-height: 70px; margin-right: 0px; margin-top: 40px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455287/f8fa2434-4193-11e7-819e-dd4be023d3d5.png" alt="postgresql" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26455288/f8fe4d52-4193-11e7-92db-87af7c9e5b96.png" alt="rollbar" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px;">

            <img src="https://cloud.githubusercontent.com/assets/2282642/26456615/d114c2fe-4197-11e7-8fe9-49b8adcf855c.png" alt="github" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px;">

            <img src="https://user-images.githubusercontent.com/2282642/28769577-49c3c2b6-7606-11e7-971f-73100d182ee2.png" alt="github" style="max-width:100%; max-height: 70px; margin-right: 0px; margin-top: 40px;">

            <img src="https://user-images.githubusercontent.com/2282642/29422581-dedcdd48-83a2-11e7-873a-7ff8cbace342.png" alt="github" style="max-width:100%; max-height: 70px; margin-right: 40px; margin-top: 40px;">
          </div>
        </div>
    </div>



</section>
