<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="uppercase">Updates & Insights</h6>
                <hr class="mb160 mb-xs-24">
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-10">
                <a class="h1 thin color-primary inline-block mb24" href="#">@foundrycapital</a>
            </div>
        </div>
        <!--end of row-->
        <div class="row mb160 mb-xs-0">
            <div class="col-md-6 col-sm-8">
                <p class="lead">
                    Engagement and sharing knowledge are the cornerstones of our success. Follow us for SV related insights.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="twitter-feed thirds">
                <div class="tweets-feed" data-widget-id="492085717044981760">
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
