<section class="fullscreen image-bg parallax background-multiply">
    <div class="background-image-holder">
        <%= image_tag('capital2.jpg', class: 'background-image') %>
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="large mb0">See you soon.</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
