<section class="pt240 pb240 image-bg parallax">
                <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 158.5px, 0px); background: url(&quot;img/capital4.jpg&quot;);">
                    <%= image_tag('capital4.jpg', class: 'background-image') %>

                </div>
            </section>
