<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="uppercase">KVY Technology Team</h6>
                <hr class="mb160 mb-xs-24">
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-3 col-sm-4 mb24">
                <%= image_tag('capital-t-1.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Long Nguyen</h6>
                <span>Principal / Partner</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
                <%= image_tag('capital-t-2.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Robert Sainsbury</h6>
                <span>Principal / Partner</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
                <%= image_tag('capital-t-3.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Katia Hingers</h6>
                <span>Cloud Enterprise</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
                <%= image_tag('capital-t-4.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Rick Chesney</h6>
                <span>Location Services</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
                <%= image_tag('capital-t-5.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Jony Gibbs</h6>
                <span>Social Data</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
              <%= image_tag('capital-t-6.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Alison Le</h6>
                <span>Social Data</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
              <%= image_tag('capital-t-7.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Chris Wheeler</h6>
                <span>Cloud Enterprise</span>
            </div>
            <div class="col-md-3 col-sm-4 mb24">
              <%= image_tag('capital-t-8.jpg', class: 'mb24') %>
                <h6 class="uppercase mb0 color-primary">Robert Salsa</h6>
                <span>Health & Fitness</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
