<section class="fullscreen image-bg parallax background-multiply">
    <div class="background-image-holder">
        <%= image_tag('hcm1.jpg', class: 'background-image') %>
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12">
              <h1 class="thin mb0">A Ho Chi Minh city based software agency.<br/>
              We help businesses on their missions.</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div class="align-bottom text-center">
        <a class="btn btn-white mb32" href="/contact">Contact Us</a>
        <ul class="list-inline social-list mb24">
            <li>
                <a href="https://www.linkedin.com/company/13320643/">
                    <i class="ti-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/kvytechnology">
                    <i class="ti-github"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
