<section style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="uppercase">About KVY Technology</h6>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-10">
              <h2 class="thin">
                Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript.
              </h2>
            </div>
        </div>

        <div class="row mb-xs-0">
          <div class="col-md-6 col-sm-8">
            <p class="lead">
              We're small team of software engineers from Ho Chi Minh city, Vietnam. We're all specialized in Ruby on Rails, Elixir, Phoenix, and Javascript.
              We will bring extensive real experience and professionalism to every projects and customize our support to
              your individual needs and concerns.
              <br/>
              <br/>

              Get in touch with us to set up an appointment to discuss how we can help you to bring your idea to happen or
              support on your existing product. Use the contact form at the bottom of this page to enquire whether our services are right for you.
            </p>
          </div>
        </div>
    </div>
</section>
