<section class="pt120 pb120 image-bg">
	<div class="map-canvas" data-map-zoom="4" data-address="Go Vap [nomarker];ho chi minh city;" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-6 overflow-hidden">
  			<h3 class="mb64 mb-xs-32">Get In Touch</h3>
  			<h4 class="mb16">contact@kvytechnology.com</h4>
  			<div class="col-sm-6 p0">
  				<h6 class="uppercase mb0">Ho Chi Minh city</h6>
  				<p>
  					23 the 5th, ward 9, Go Vap district.<br />
  					Ho Chi Minh city<br />
  					(84) 93636 2488
  				</p>
  			</div>
  		</div>
  	</div><!--end of row-->
  </div><!--end of container-->
</section>
