<% cache article do %>
  <%= link_to article_path(article) do %>
    <div class="row no-gutters blog-tab-item">
      <div class="col-lg-4 col-md-5 col-12">
        <img
          class="blog-tab-image"
          src="<%= article.image_url %>"
          alt=""
          srcset=""
          />
      </div>
      <div class="col-lg-8 col-md-7 col-12 position-relative blog-tab-content-wrapper">
        <div class="blog-tab-content">
          <h3 class="blog-tab-title mt-0"><%= article.title %></h3>
          <p class="home-text">
            <%= article.teaser %>
          </p>
          <div class="blog-tab-footer position-absolute">
            <span class="text-uppercase">By: <%= article.authors.map(&:name).join(', ') %></span>
            <span class="text-uppercase news"><%= article.tags.map(&:name).join(', ') %></span>
            <span class="text-uppercase"><%= article.published_at.strftime('%d/%m/%Y - %H:%M') %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
