<%= link_to article_path(article) do %>
  <div class="row no-gutters blog-tab-item">
    <div class="col-lg-4 col-md-5 col-12 ">
      <%= image_tag article.hero_image.url, class: 'blog-tab-image', alt: article.slug %>
    </div>
    <div
      class="col-lg-8 col-md-7 col-12 position-relative blog-tab-content-wrapper"
    >
      <div class="blog-tab-content ">
        <h3 class="process-item-title mt-0"><%= article.title %></h3>
        <p class="home-text">
          <%= article.sub_title %>
        </p>
        <div class="blog-tab-footer position-absolute">
          <span class="text-uppercase">by: <%= article.authors.map {|a| a.name}.join(', ') %></span>
          <span class="text-uppercase news"><%= article.tags.map {|t| t.name}.join(', ') %></span>
          <span class="text-uppercase"><%= article.published_at.strftime('%d/%m/%Y') %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
