<div class="blogs">
  <section class="general-banner">
    <div class="container">
      <div class="row no-gutters position-relative">
        <div class="col-lg-4 col-sm-12 d-flex align-items-center">
          <div class="general-banner-left">
            <h3 class="general-banner-title general-big-title">KVY Insights</h3>
            <p class="general-banner-text general-title">
              Our inspiring blog about digital product strategy, user experience, design, engineering, and innovation.
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12 mt-lg-0 mt-2 d-flex align-items-center">
          <%= image_tag 'blog-banner.png', class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </section>
  <section class="blog-tab">
    <div class="container">
      <ul class="nav nav-tabs">
        <li>
          <a data-toggle="tab" class="text-uppercase active" href="#all">all</a>
        </li>
        <% @tags.each do |tag| %>
          <li>
            <a data-toggle="tab" class="text-uppercase" href="#<%= tag.downcase %>">
              <%= tag %>
            </a>
          </li>
        <% end %>
      </ul>
      <hr />
      <div class="tab-content">
        <div id="all" class="active tab-pane fade in show">
          <%= render partial: 'article_preview', collection: @articles, as: :article %>
          <% if @articles.total_pages > 1 %>
            <a data-tag="all" href="javascript:;" class="mt-5 d-block text-center load-more-blog">
              View more
            </a>
          <% end %>
        </div>
        <% @tags.each do |tag| %>
          <div id="<%= tag.downcase %>" class="tab-pane fade">
            <%= render partial: 'article_preview', collection: @articles.tagged_with(tag), as: :article %>
            <a data-tag="<%= tag.downcase %>" href="javascript:;" class="mt-5 d-none text-center load-more-blog">
              View more
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
