<% @articles.each do |article| %>
$(".load-more-blog[data-tag=<%= @tag %>]").before("<%=j render 'article', article: article %>");
<% end %>
<% if @current_page >= @articles.total_pages %>
  $(".load-more-blog[data-tag=<%= @tag %>]").removeClass("d-block").addClass("d-none");
<% else %>
  $(".load-more-blog[data-tag=<%= @tag %>]").removeClass("d-none").addClass("d-block");
<% end %>
