<section class="blog-detail-banner d-flex align-items-center">
  <div class="container">
    <a href="/blog" class="back-to d-flex align-items-center">
      <%= image_tag 'left-arrow.svg' %>
      <span class="back-to-text ml-2">Back to blog</span>
    </a>
    <div class="blog-detail-content">
      <h3 class="blog-detail-title">
        <%= @article.title %>
      </h3>
      <div class="blog-tab-footer">
        <span class="text-uppercase">by: <%= @article.authors.map(&:name).join(', ') %></span>
        <span class="text-uppercase news"><%= @article.tags.map(&:name).join(', ') %></span>
        <span class="text-uppercase"><%= @article.published_at.strftime('%d/%m/%Y - %H:%M') %></span>
      </div>
    </div>
  </div>
</section>
<section class="blog-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="article first">
          <div class="article_content">
            <%= markdown @article.content %>

            <% if @article.document? %>
              <div class="article_document">
                <%= link_to "Download #{@article.document.file.filename}", @article.document_url %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
