<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8" />
  <meta name="author" content="<%= CONFIG[:meta_author] %>" />
  <meta name="revisit-after" content="3 days" />
  <meta name="robots" content="index,follow" />
  <%= display_meta_tags site: CONFIG[:title_short] %>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  <meta name="description" content="Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript." />
  <meta name="keywords" content="ruby on rails development services, ruby on rails company vietnam, elixir development vietnam, phoenix web development, web development agency vietnam, elixir developers, rails developers vietnam"/>
  <meta property="og:title" content="KVY Tech - Ruby on Rails, Elixir, Phoenix, Javascript Development" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://kvytechnology.com" />
  <meta property="og:image" content="https://kvytechnology.com/hcm.jpg" />
  <meta property="fb:app_id" content="483082738817395" />
  <meta property="og:description" content="Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript." />
  <link rel="shortcut icon" href="/kvylogo.png" type="image/x-png">
  <link rel="icon" href="/kvylogo.png" type="image/x-png">
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, articles_url(format: "atom"), {title: CONFIG[:feed_title]}) %>
  <%= stylesheet_link_tag    "lines/application", media: "all" %>
  <%= javascript_include_tag "lines/application"%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_lines_user %>
  <%= render_navbar do %>
    <%= link_to t('lines.buttons.new_article').html_safe, new_admin_article_path, class: "btn btn-new-article highlight" %>
    <%= link_to t('lines.buttons.dashboard').html_safe, admin_articles_path, class: "btn btn-view-blog" %>
  <% end %>
  <div class="spacer"></div>
<% end %>

<%= render 'layouts/lines/markdown_cheatsheet' %>

<header>
  <div id="logo">
    <a href="/">
      <% if CONFIG[:logo].empty? %>
        <h2><%= CONFIG[:blog_name] %></h2>
      <% else %>
        <img src="<%= CONFIG[:logo] %>" alt="<%= CONFIG[:blog_name] %>" />
      <% end %>
    </a>
  </div>
  <div id="lines">
    <%= CONFIG[:short_description].html_safe %>
  </div>
</header>

<div class="container">
  <%= render 'lines/shared/flash' %>
  <%= yield %>
</div>

<%= render 'lines/shared/footer' %>

</body>
</html>
