<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8" />
  <meta name="author" content="<%= CONFIG[:meta_author] %>" />
  <meta name="revisit-after" content="3 days" />
  <meta name="robots" content="index,follow" />
  <%= display_meta_tags site: CONFIG[:title_short] %>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  <meta name="description" content="Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript." />
  <meta name="keywords" content="ruby on rails development services, ruby on rails company vietnam, elixir development vietnam, phoenix web development, web development agency vietnam, elixir developers, rails developers vietnam"/>
  <meta property="og:title" content="KVY Tech - Ruby on Rails, Elixir, Phoenix, Javascript Development" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://kvytechnology.com" />
  <meta property="og:image" content="https://kvytechnology.com/hcm.jpg" />
  <meta property="fb:app_id" content="483082738817395" />
  <meta property="og:description" content="Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript." />
  <link rel="shortcut icon" href="/kvylogo.png" type="image/x-png">
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, articles_url(format: "atom"), {title: CONFIG[:feed_title]}) %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "lines/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'home/partials/header' %>
  <%= yield %>
  <%= render 'home/partials/footer' %>
</body>

<%= javascript_include_tag 'application' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96045168-1');
</script>

<script type="text/javascript">
(function(w,d){
  w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
  function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
  if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
})(window, document)
</script>

<script type="text/javascript">
  HelpCrunch('init', 'kvytech', {
    applicationId: 1,
    applicationSecret: 'Wi8agf2IGirzzSbKhsR2UZufd8euQpXSQPqpXwVkiCIEepZNnlBSjwKbPFVJcA/AziGNdrOQOO7bFBQLInScPQ=='
  });

  HelpCrunch('showChatWidget');
</script>
</html>
