<section class="general-banner">
  <div class="container">
    <div class="row no-gutters position-relative">
      <div class="col-lg-4 col-sm-12 d-flex align-items-center">
        <div class="general-banner-left">
          <h3 class="general-banner-title general-big-title text-uppercase">KVY TECH</h3>
          <p class="general-banner-text general-title">
            Our vision is to use our passion for technology, content and services to deliver excellence products and services.
          </p>
        </div>
      </div>
      <div
        class="col-lg-8 col-sm-12 mt-lg-0 mt-2 d-flex align-items-center"
        >
        <img
          class="img-fluid"
          src="<%= image_url('story-banner.png') %>"
          alt="kvy-technology"

          />
      </div>
    </div>
  </div>
</section>
<!-- <section class="story-support position-relative">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center pt-4"
        >
        <div class="story-support-item">
          <strong class="home-content-title d-block">Our Teams</strong>
          <p class="home-text">
            We’re small team of specialists in backend, frontend, and devops engineers.
          </p>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('man.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Man Vuong</p>
          <p class="story-support-position">Technical Director</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('vu.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Vu Tran</p>
          <p class="story-support-position">Elixir/Rails Developer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('trungtt.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Trung Tran</p>
          <p class="story-support-position">Frontend Developer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('quan.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Quan Phuong</p>
          <p class="story-support-position">Solution Architect</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('nghia.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Nghia Doan</p>
          <p class="story-support-position">Frontend Developer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('dong.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Dong Tran</p>
          <p class="story-support-position">UI/UX Designer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('dung.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Dung Vu</p>
          <p class="story-support-position">Software Engineer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('bich.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Hoang Bich</p>
          <p class="story-support-position">Accounting Manager</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('tung.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Tung Pham</p>
          <p class="story-support-position">Backend Engineer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('minh.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name">Minh Dang</p>
          <p class="story-support-position">Fullstack Engineer</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('long.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Long Nguyen</p>
          <p class="story-support-position">Managing Director</p>
        </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-12 text-sm-left text-center "
        >
        <div class="story-support-item">
          <div class="story-support-avatar position-relative">
            <img
              class="img-fluid lozad"
              data-src="<%= image_url('hung.jpg') %>"
              alt="kvy-technology"

              />
          </div>
        <div class="mt-2">
          <p class="story-support-name general-title">Hung Nguyen</p>
          <p class="story-support-position">Business Manager</p>
        </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="story-support-item next">
          <div>
            <h5 class="story-support-item-title general-big-title  d-inline-block">The Next Members</h5>
            <p class="home-text">We want to create a place that our team members enjoy to work and our clients enjoy to work with us.</p>
            <a href="./careers"  class="home-button text-uppercase d-inline-block">Join our Team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="story-value">
  <div class="container">
    <strong class="story-value-title general-big-title-height d-block text-center">Our Values</strong>
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
        <div class="story-value-item text-center">
          <img
            class="img-fluid story-icon"
            src="<%= image_url('story-excellence.svg') %>"
            alt="kvy-technology"

            />
            <img
              class="img-fluid story-icon-hover"
              src="<%= image_url('story-excellence-hover.svg') %>"
              alt="kvy-technology"

              />
              <strong class="story-value-subtitle d-block mt-4 pt-2">Excellence</strong>
              <p class="home-text">
                We strive to deliver the highest quality and value possible through simple, easy and relevant solutions
              </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-lg-0 mt-4">
        <div
          class="story-value-item text-center"
          >
          <img
            class="img-fluid story-icon"
            src="<%= image_url('story-integrity.svg') %>"
            alt="kvy-technology"

            />
          <img
            class="img-fluid story-icon-hover"
            src="<%= image_url('story-integrity-hover.svg') %>"
            alt="kvy-technology"

            />
            <strong class="story-value-subtitle d-block mt-4 pt-2">Integrity & Sincerity</strong>
            <p class="home-text">
              Integrity is the foundation of how we operate our business. It is the moral compass to ensure fairness, transparency in order to building sustainable relationships.
            </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-lg-0 mt-4">
        <div
          class="story-value-item text-center"
          >
          <img
            class="img-fluid story-icon"
            src="<%= image_url('story-fun.svg') %>"
            alt="kvy-technology"

            />
          <img
            class="img-fluid story-icon-hover"
            src="<%= image_url('story-fun-hover.svg') %>"
            alt="kvy-technology"

            />
            <strong class="story-value-subtitle d-block mt-4 pt-2">Fun</strong>
            <p class="home-text">
              We want to create a place that our team members enjoy to work and our clients enjoy to work with us.
            </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-lg-0 mt-4">
        <div
          class="story-value-item text-center"
          >
          <img
            class="img-fluid story-icon"
            src="<%= image_url('story-sustainability.svg') %>"
            alt="kvy-technology"

            />
          <img
            class="img-fluid story-icon-hover"
            src="<%= image_url('story-sustainability-hover.svg') %>"
            alt="kvy-technology"

            />
            <strong class="story-value-subtitle d-block mt-4 pt-2">Sustainability</strong>
            <p class="home-text">
              We will build our business sustainably through passionate and loyal customers.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="story-join d-flex align-items-center">
  <div class="container">
    <div class="row no-gutters">
      <div class="story-join-wrapper w-100 text-center">
        <strong class="home-content-title">Let's Work Together</strong>
        <p class="home-text">
          Through our custom software development consulting, we'll help you understand where and how your team can improve as we help you bring your technology to market faster. Your team will be stronger after working with KVY Tech.
        </p>
        <a href="careers" >
          <button class="home-button">GET STARTED</button>
        </a>
      </div>
    </div>
  </div>
</section>
