<div class="main-container">
  <section class="page-title page-title-4 bg-secondary image-bg overlay parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="uppercase mb0">Blog</h3>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="feed-item mb96 mb-xs-48">
        <div class="row mb16 mb-xs-0">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h6 class="uppercase mb16 mb-xs-8">September 8th</h6>
            <h3>A clean, simple way to share
              <br /> basic updates about your company.</h3>
          </div>
        </div>
        <div class="row mb32 mb-xs-16">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <p class="lead">
              Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </p>
            <p class="lead">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <a class="mb48 mb-xs-32 btn btn-lg" href="#">Share Article</a>
            <hr>
          </div>
        </div>
      </div>
      <div class="feed-item mb96">
        <div class="row mb16 mb-xs-0">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h6 class="uppercase mb16 mb-xs-8">September 4th</h6>
            <h3>You can still embed media types
              <br /> using this blog type.</h3>
          </div>
        </div>
        <div class="row mb32 mb-xs-16">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <p class="lead">
              Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </p>
            <p class="lead">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
            </p>
          </div>
        </div>
        <!--end of row-->
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <a class="mb48 mb-xs-32 btn btn-lg" href="#">Share Article</a>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
