<section class="general-banner">
  <div class="container">
    <div class="row no-gutters position-relative">
      <div class="col-lg-4 col-sm-12 d-flex align-items-center">
        <div class="general-banner-left">
          <h3 class="general-banner-title general-big-title ">
            Join Us
          </h3>
          <p class="general-banner-text general-title">
            We’re seeking talented and passionate professionals to join KVY
            TECH. Work on exciting projects and help transform ambitious
            ideas into groundbreaking software and web apps.
          </p>
        </div>
      </div>
      <div
        class="col-lg-8 col-sm-12 mt-lg-0 mt-2 d-flex align-items-center"
        >
        <img
          class="img-fluid"
          src="<%= image_url('career-banner.png') %>"
          alt="kvy-technology"
          
          />
      </div>
    </div>
  </div>
</section>
<section class="career">
  <div class="container ">
    <strong class="career-title general-big-title-height d-block text-center">Current Opening</strong>
    <div class="row career-item mx-0">
      <div class="col-md-9 col-12">
        <div class="">
          <h4 class="career-item-title mt-0">
            <a
              
              href="https://kvytechnology.freshteam.com/jobs/_AdDfmlD64gb/senior-lead-engineer"
              >Senior/Lead Engineer
            </a>
          </h4>
          <p class="home-text mt-2">
            We are looking forward to working with passionate people that
            love to polish their craft, not worried about learning new
            things and eager to tackle challenges
          </p>
          <ul class="d-sm-flex d-block">
            <li class="d-flex align-items-center">
              <img class="mr-2" src="<%= image_url('watch.svg') %>" alt="kvy-technology"  />
              <span class="home-text mt-0">Full time</span>
            </li>
            <li class="d-flex align-items-center mt-sm-0 mt-2">
              <img
                class="mr-2"
                src="<%= image_url('position-pin.svg') %>"
                alt="kvy-technology"
                
                />
              <span class="home-text mt-0">Ho Chi Minh City</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-12 d-flex align-items-center justify-content-md-end">
        <a
          href="https://kvytechnology.freshteam.com/jobs/_AdDfmlD64gb/senior-lead-engineer"
          
          class="home-button text-center mt-md-0 mt-4"
          >Apply now</a
        >
      </div>
    </div>
    <div class="row career-item mx-0">
      <div class="col-md-9 col-12">
        <div class="">
          <h4 class="career-item-title mt-0">
            <a
              
              href="https://kvytechnology.freshteam.com/jobs/8bp8vEIJrsBF/react-native-developer"
              >
              React Native Developer
            </a>
          </h4>
          <p class="home-text mt-2">
            We are looking forward to working with passionate people that
            love to polish their craft, not worried about learning new
            things and eager to tackle challenges
          </p>
          <ul class="d-sm-flex d-block">
            <li class="d-flex align-items-center">
              <img class="mr-2" src="<%= image_url('watch.svg') %>" alt="kvy-technology"  />
              <span class="home-text mt-0">Full time</span>
            </li>
            <li class="d-flex align-items-center mt-sm-0 mt-2">
              <img
                class="mr-2"
                src="<%= image_url('position-pin.svg') %>"
                alt="kvy-technology"
                
                />
              <span class="home-text mt-0">Ho Chi Minh City</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-12 d-flex align-items-center justify-content-md-end">
        <a
          href="https://kvytechnology.freshteam.com/jobs/8bp8vEIJrsBF/react-native-developer"
          
          class="home-button text-center mt-md-0 mt-4"
          >Apply now</a
        >
      </div>
    </div>
    <div class="row career-item mx-0">
      <div class="col-md-9 col-12">
        <div class="">
          <h4 class="career-item-title mt-0">
            <a
              
              href="https://kvytechnology.freshteam.com/jobs/QYA7eP8ubd8K/ui-ux-designer"
              >
              UI/UX Designer
            </a>
          </h4>
          <p class="home-text mt-2">
            We are looking forward to working with passionate people that
            love to polish their craft, not worried about learning new
            things and eager to tackle challenges
          </p>
          <ul class="d-sm-flex d-block">
            <li class="d-flex align-items-center">
              <img class="mr-2" src="<%= image_url('watch.svg') %>" alt="kvy-technology"  />
              <span class="home-text mt-0">Full time</span>
            </li>
            <li class="d-flex align-items-center mt-sm-0 mt-2">
              <img
                class="mr-2"
                src="<%= image_url('position-pin.svg') %>"
                alt="kvy-technology"
                
                />
              <span class="home-text mt-0">Ho Chi Minh City</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-12 d-flex align-items-center justify-content-md-end">
        <a
          href="https://kvytechnology.freshteam.com/jobs/QYA7eP8ubd8K/ui-ux-designer"
          
          class="home-button text-center mt-md-0 mt-4"
          >Apply now</a
        >
      </div>
    </div>
  </div>
</section>
