<div class="contact">
  <section class="touch <%= 'mt-0' if flash[:warning] %>">
    <div class="touch-content">
      <div class="container-fluid px-0">
        <div class="row no-gutters">
          <div class="col-lg-6 col-12 pr-lg-4 touch-left">
            <%= image_tag('touch-banner.png', class: 'd-lg-none d-block img-fluid', alt: 'kvy-tech') %>
            <div class="touch-mansory">
              <div class="container-mansory">
                <div class="item pt-0">
                  <%= image_tag('touch-left-01.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-02.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-03.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-04.png', alt: 'kvy-tech') %>
                </div>
                <div class="item pt-0">
                  <%= image_tag('touch-left-05.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-06.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-07.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-08.png', alt: 'kvy-tech') %>
                </div>
                <div class="item pt-0">
                  <%= image_tag('touch-left-09.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-10.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-13.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-11.png', alt: 'kvy-tech') %>
                </div>
                <div class="item">
                  <%= image_tag('touch-left-12.png', alt: 'kvy-tech') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 px-4 position-relative">
            <div class="touch-right">
              <h4 class="touch-title pt-4">
                Hire us to help you build excellent software
              </h4>
              <div class="container-fluid p-0">
                <div class="row">
                  <div class="col-lg-6 col-12 touch-item">
                    <div class="d-flex align-items-start mt-3 mr-2">
                      <div class="touch-icon-warpper d-flex align-items-center">
                        <%= image_tag('contact-email.svg', alt: 'kvy-tech') %>
                      </div>
                      <p class="home-text touch-info">
                        hello@kvytechnology.com
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12 touch-item">
                    <div class="d-flex align-items-start mt-3 mr-2">
                      <div class="touch-icon-warpper d-flex align-items-center">
                        <%= image_tag('contact-phone.svg', alt: 'kvy-tech') %>
                      </div>
                      <p class="home-text touch-info">(084) 93636 2488</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12 touch-item">
                    <div class="d-flex align-items-start mt-3 mr-2">
                      <div class="touch-icon-warpper d-flex align-items-center">
                        <%= image_tag('contact-map.svg', alt: 'kvy-tech') %>
                      </div>
                      <p class="home-text touch-info">
                        9 Hoa Cau, Phu Nhuan District, HCMC, Viet Nam
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <%= form_tag enquiry_path do %>
                <div class="form-group mb-3">
                  <%= label_tag :name, "Full name", class:"touch-label mb-1" %>
                  <%= text_field_tag :name, nil, class:"form-control", id:"fullname" %>
                </div>
                <div class="form-group mb-3">
                  <%= label_tag :email, "Email", class:"touch-label mb-1" %>
                  <%= text_field_tag :email, nil, class:"form-control", id:"formGroupExampleInput2" %>
                </div>
                <div class="form-group mb-3">
                  <%= label_tag :message,"Message", class:"touch-label mb-1" %>
                  <%= text_area_tag :message, nil, class:"form-control", id:"message", rows: 5 %>
                </div>
                <div class="form-group mb-3">
                  <%= submit_tag 'SEND', class:"touch-submit" %>
                </div>
              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
