<section class="home-banner position-relative <%= 'mt-0' if flash[:success] %>">
  <div class="home-banner-bg position-absolute w-100 h-100"></div>
  <div class="home-banner-building position-absolute w-100 h-100"></div>
  <div class="home-banner-dotted position-absolute w-100 h-100"></div>
  <div class="home-banner-bottom position-absolute w-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
          <p class="home-banner-client">
            Our Clients' applications were featured in:
          </p>
        </div>
        <div class="col-12 mt-lg-3 mt-1">
          <ul class="d-flex justify-content-between">
            <li><img class="img-fluid" src="<%= image_url('home-finance.png') %>" alt="kvy-technology" ></li>
            <li><img class="img-fluid" src="<%= image_url('home-e27.png') %>" alt="kvy-technology" ></li>
            <li><img class="img-fluid" src="<%= image_url('home-forbes.png') %>" alt="kvy-technology" ></li>
            <li><img class="img-fluid" src="<%= image_url('home-crunch.png') %>" alt="kvy-technology" ></li>
            <li><img class="img-fluid" src="<%= image_url('home-nasia.png') %>" alt="kvy-technology" ></li>
            <li><img class="img-fluid" src="<%= image_url('home-cnbc.png') %>" alt="kvy-technology" ></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container home-banner-main position-absolute">
    <div class="row">
      <div class="col-12">
        <h3 class="home-banner-title general-big-title text-center">
          We help tech leaders, entrepreneurs, & organizations build incredible, game-changing software.
        </h3>
        <h4 class="home-banner-subtitle general-title text-center">
          A Ho Chi Minh city based software agency.We offering web mobile design, full-stack engineering, web app development, and custom software development.
        </h4>
      </div>
    </div>
  </div>
</section>
<section class="customer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="customer-title general-title text-center">COMPANIES WE HAVE WORKED WITH:</p>
        <ul class="d-lg-flex d-md-block justify-content-between">
          <li>
            <img class="img-fluid lozad" data-src="<%= image_url('home-customer-outfit.png') %>" alt="kvy-technology-customer"/>
          </li>
          <li>
            <img class="img-fluid lozad" data-src="<%= image_url('home-customer-hollar.png') %>" alt="kvy-technology-customer"/>
          </li>
          <li>
            <img class="img-fluid lozad" data-src="<%= image_url('home-customer-axle.png') %>" alt="kvy-technology-customer"/>
          </li>
          <li>
            <img class="img-fluid lozad" data-src="<%= image_url('home-customer-ensight.png') %>" alt="kvy-technology-customer"/>
          </li>
          <li>
            <img class="img-fluid lozad" data-src="<%= image_url('home-customer-jml.png') %>" alt="kvy-technology-customer"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="problem">
  <h4 class="home-title general-big-title-height text-center">The Problem</h4>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12 d-flex align-items-center">
        <ul class="problem-list">
          <li class="d-flex align-items-center position-relative mt-0">
            <img class="lozad" data-src="<%= image_url('home-problem-target.svg') %>" alt="kvy-technology" >
            <p>It’s very difficult to move your business forward with technology holding you back.</p>
          </li>
          <li class="d-flex align-items-center position-relative">
            <img class="lozad" data-src="<%= image_url('home-problem-target.svg') %>" alt="kvy-technology" >
            <p>Most visionaries don’t have the time, training or desire to hire and manage their own product implementation team.</p>
          </li>
          <li class="d-flex align-items-center position-relative">
            <img class="lozad" data-src="<%= image_url('home-problem-target.svg') %>" alt="kvy-technology" >
            <p> You don’t want to 10x your team, you want to 10x your revenue!</p>
          </li>
          <li class="d-flex align-items-center position-relative">
            <img class="lozad" data-src="<%= image_url('home-problem-target.svg') %>" alt="kvy-technology" >
            <p> Focus your time on the creation of your product and big-picture success planning for your company.</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 position-relative mt-lg-0 mt-4 text-center">
        <img class="problem-right lozad" data-src="<%= image_url('home-problem.svg') %>" alt="kvy-technology" >
      </div>
    </div>
  </div>
</section>
<section class="solution">
  <div class="container">
    <h4 class="home-title general-big-title-height text-center">The Solution</h4>
    <p class="home-text text-center mt-0">
      Save time AND money by outsourcing design and<br>
      product development
    </p>
    <strong class="home-content-title d-block">Our Services</strong>
    <div class="row solution-item-list">
      <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
        <img class="img-fluid lozad" data-src="<%= image_url('service-icon-design.png') %>" alt="kvy-technology" >
        <p class="solution-item-text general-title">Mobile / Web Design</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
        <img class="img-fluid lozad" data-src="<%= image_url('service-icon-mvp.png') %>" alt="kvy-technology" >
        <p class="solution-item-text general-title">Build MVP</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
        <img class="img-fluid lozad" data-src="<%= image_url('service-icon-software.png') %>" alt="kvy-technology" >
        <p class="solution-item-text general-title">Customer Software Development</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
        <img class="img-fluid lozad" data-src="<%= image_url('service-icon-staff.png') %>" alt="kvy-technology" >
        <p class="solution-item-text general-title">Staff Augmentation</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
        <img class="img-fluid lozad" data-src="<%= image_url('service-icon-web.png') %>" alt="kvy-technology" >
        <p class="solution-item-text general-title">Web development</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
        <img class="img-fluid lozad" data-src="<%= image_url('service-icon-app.png') %>" alt="kvy-technology" >
        <p class="solution-item-text general-title">App Rescue</p>
      </div>
    </div>
  </div>
</section>

<section class="friend position-relative">
  <div class="container d-flex">
    <div class="friend-left mt-2">
      <strong class="home-content-title d-block">Our Clients & Partners</strong>
      <p class="home-text mt-1">
        We feel privileged to work with some amazing organizations.
      </p>
    </div>
    <ul class="friend-right d-flex flex-wrap ">
      <li class="d-flex align-items-center justify-content-center">
        <a href="#">
          <img
            data-src="<%= image_url('home-outfit.png') %>"
            class="img-fluid lozad"
            alt="kvy-technology"
            
            />
        </a>
      </li>
      <li class="d-flex align-items-center justify-content-center">
        <a href="#">
          <img
            data-src="<%= image_url('home-hollar.png') %>"
            class="img-fluid lozad"
            alt="kvy-technology"
            
            />
        </a>
      </li>
      <li class="d-flex align-items-center justify-content-center">
        <a href="#">
          <img
            data-src="<%= image_url('home-axle.png') %>"
            class="img-fluid lozad"
            alt="kvy-technology"
            
            />
        </a>
      </li>
      <li class="d-flex align-items-center justify-content-center">
        <a href="#">
          <img
            data-src="<%= image_url('home-jml.png') %>"
            class="img-fluid lozad"
            alt="kvy-technology"
            
            />
        </a>
      </li>
      <li class="d-flex align-items-center justify-content-center">
        <a href="#">
          <img
            data-src="<%= image_url('home-ensight.png') %>"
            class="img-fluid lozad"
            alt="kvy-technology"
            
            />
        </a>
      </li>
      <li class="d-flex align-items-center justify-content-center">
        <a href="#">
          <img
            data-src="<%= image_url('home-pixerf.png') %>"
            class="img-fluid lozad"
            alt="kvy-technology"
            
            />
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="benefit">
  <div class="container">
    <strong class="home-title general-big-title-height d-block text-center">Benefits</strong>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <img class="img-fluid benefit-banner lozad" data-src="<%= image_url('benefit.png') %>" alt="kvy-technology" >
      </div>
    </div>
    <div class="row benefit-item-list">
      <div class="col-lg-3 col-md-6 col-12 text-center">
        <div class="benefit-wrapper-icon d-flex align-items-center justify-content-center">
          <img class="lozad" data-src="<%= image_url('home-full-service.png') %>" alt="kvy-technology" >
        </div>
        <p class="mt-lg-3 mt-1">
          Full service, full stack
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 text-center">
        <div class="benefit-wrapper-icon d-flex align-items-center justify-content-center">
          <img class="lozad" data-src="<%= image_url('home-advanced.png') %>" alt="kvy-technology" >
        </div>
        <p class="mt-lg-3 mt-1">
          Tech that advances the industry
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 text-center">
        <div class="benefit-wrapper-icon d-flex align-items-center justify-content-center">
          <img class="lozad" data-src="<%= image_url('home-brain.png') %>" alt="kvy-technology" >
        </div>
        <p class="mt-lg-3 mt-1">
          Smart, intuitive user experiences
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 text-center">
        <div class="benefit-wrapper-icon d-flex align-items-center justify-content-center">
          <img class="lozad" data-src="<%= image_url('home-medal.png') %>" alt="kvy-technology" >
        </div>
        <p class="mt-lg-3 mt-1">
          Brilliant, top talent
          from Vietnam
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="client text-center show-carousel position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <strong class="home-title general-big-title-height">
          Clients are saying
          <br />
          about us</strong>
        <div class="client-carousel d-flex justify-content-center">
          <div class="client-carousel-item align-items-center">
            <img
              class="client-carousel-quote lozad"
              data-src="<%= image_url('quote.svg') %>"
              alt="kvy-technology"
              
              />
              <p class="text-left home-text">
                0 Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and.
              </p>
          </div>
          <div
            class="client-carousel-item align-items-center show-carousel"
            >
            <img
              class="client-carousel-quote lozad"
              data-src="<%= image_url('quote.svg') %>"
              alt="kvy-technology"
              
              />
            <p class="text-left home-text">
              1 Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and.
            </p>
          </div>
          <div
            class="client-carousel-item align-items-center show-carousel"
            >
            <img
              class="client-carousel-quote lozad"
              data-src="<%= image_url('quote.svg') %>"
              alt="kvy-technology"
              
              />
            <p class="text-left home-text">
              2 Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and.
            </p>
          </div>
          <div
            class="client-carousel-item align-items-center show-carousel"
            >
            <img
              class="client-carousel-quote lozad"
              data-src="<%= image_url('quote.svg') %>"
              alt="kvy-technology"
              
              />
            <p class="text-left home-text">
              3 Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and.
            </p>
          </div>
          <div
            class="client-carousel-item align-items-center show-carousel"
            >
            <img
              class="client-carousel-quote lozad"
              data-src="<%= image_url('quote.svg') %>"
              alt="kvy-technology"
              
              />
            <p class="text-left home-text">
              4 Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and.
            </p>
          </div>
        </div>
      </div>
      <ul class="client-carousel-list position-absolute">
        <li>
          <div class="d-flex align-items-center">
            <img class="lozad" data-src="<%= image_url('carousel-1.svg') %>" alt="kvy-technology"  />
            <div class="client-info general-title text-left show-carousel">
              <span class="d-block">Trung Leo</span>
              <small>Position</small>
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-center">
            <img class="lozad" data-src="<%= image_url('carousel-2.svg') %>" alt="kvy-technology"  />
            <div class="client-info general-title  text-left show-carousel">
              <span class="d-block">Scarlet Ha</span>
              <small>Position</small>
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-center">
            <img class="lozad" data-src="<%= image_url('carousel-3.svg') %>" alt="kvy-technology"  />
            <div class="client-info general-title text-left show-carousel">
              <span class="d-block">Dong Tran</span>
              <small>Position</small>
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-center">
            <img class="lozad" data-src="<%= image_url('carousel-4.svg') %>" alt="kvy-technology"  />
            <div class="client-info general-title text-left show-carousel">
              <span class="d-block">Hung Coi</span>
              <small>Position</small>
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-center">
            <img class="lozad" data-src="<%= image_url('carousel-5.svg') %>" alt="kvy-technology"  />
            <div class="client-info general-title text-left show-carousel">
              <span class="d-block">Nghia Doan</span>
              <small>Position</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<section class="working position-relative">
  <div class="container">
    <strong class="home-title general-big-title-height d-block text-center">Working with Us</strong>
    <div class="row">
      <div class="col-lg-3 col-12 working-item-wrapper">
        <span class="working-item-number-first">0</span>
        <span class="working-item-number-second">1</span>
        <div class="working-item">
          <p class="home-text">You have less time spent worrying about tech implementation, more time for your customers, product creation and big-picture success planning.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-12 working-item-wrapper">
        <span class="working-item-number-first">0</span>
        <span class="working-item-number-second">2</span>
        <div class="working-item">
          <p class="home-text">You have weekly check-in calls and quarterly calls to ensure everyone is on the same page, increase communication, and promote proactivity.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-12 working-item-wrapper">
        <span class="working-item-number-first">0</span>
        <span class="working-item-number-second">3</span>
        <div class="working-item">
          <p class="home-text">You get a response to every request within at least 24 business hours, which means you can execute quickly.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-12 working-item-wrapper">
        <span class="working-item-number-first">0</span>
        <span class="working-item-number-second">4</span>
        <div class="working-item">
          <p class="home-text">You get a flexible agreement with minimum commitment.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="sound">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <strong class="home-title general-big-title-height d-block">Sound like a good fit?</strong>
        <a class="sound-item general-title" href="/contact" >Let's make something great together</a>
      </div>
    </div>
  </div>
</div>
