<section class="general-banner">
  <div class="container">
    <div class="row no-gutters position-relative">
      <div class="col-lg-4 col-sm-12 d-flex align-items-center">
        <div class="general-banner-left">
          <h3 class="general-banner-title general-big-title">Our Services</h3>
          <p class="general-banner-text general-title">
            From research to vision to implementation, KVY TECH translates bold ideas into industry-leading web applications that advance your business. 
          </p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 mt-lg-0 mt-2 d-flex align-items-center">
        <img
          class="img-fluid"
          src="<%= image_url('service-banner.png') %>"
          alt="kvy-technology"
          />
      </div>
    </div>
  </div>
</section>

<section class="service-list position-relative">
  <div class="container">
    <div class="row service-list-row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-list-item">
          <img
            class="img-fluid"
            src="<%= image_url('service-item-design.png') %>"
            alt="kvy-technology"
            />
            <div class="d-flex mt-4 align-items-center">
              <div class="service-list-icon-wrapper">
                <img
                  src="<%= image_url('service-icon-design.png') %>"
                  alt="kvy-technology"
                  />
              </div>
              <h5 class="service-list-item-title general-title">Mobile / Web Design</h5>
            </div>
            <p class="home-text mt-3 text-left">
              Design effective products with elegant interfaces and delightful user experiences
            </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-list-item">
          <img
            class="img-fluid"
            src="<%= image_url('service-item-mvp.png') %>"
            alt="kvy-technology"
            />
            <div class="d-flex mt-4 align-items-center">
              <div class="service-list-icon-wrapper">
                <img src="<%= image_url('service-icon-mvp.png') %>" alt="kvy-technology"  />
              </div>
              <h5 class="service-list-item-title general-title">Build MVP</h5>
            </div>
            <p class="home-text mt-3 text-left">
              We bring your ideas into demonstrateable and clickable reality with affordable cost.
            </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-list-item">
          <img
            class="img-fluid"
            src="<%= image_url('service-item-software.png') %>"
            alt="kvy-technology"
            />
            <div class="d-flex mt-4 align-items-center">
              <div class="service-list-icon-wrapper">
                <img
                  src="<%= image_url('service-icon-software.png') %>"
                  alt="kvy-technology"
                  />
              </div>
              <h5 class="service-list-item-title general-title">
                Customer Software Development
              </h5>
            </div>
            <p class="home-text mt-3 text-left">
              Craft an end-to-end application with a complete cross-functional software team
            </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-list-item">
          <img
            class="img-fluid"
            src="<%= image_url('service-item-staff.png') %>"
            alt="kvy-technology"
            />
            <div class="d-flex mt-4 align-items-center">
              <div class="service-list-icon-wrapper">
                <img src="<%= image_url('service-icon-staff.png') %>" alt="kvy-technology"  />
              </div>
              <h5 class="service-list-item-title general-title">Staff Augmentation</h5>
            </div>
            <p class="home-text mt-3 text-left">
              Whether you’re an established brand or early stage startup. And if you don’t have those hands in-house, KVY’s team of professional consultants is ready to supplement your staff, short or long term.
            </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-list-item">
          <img
            class="img-fluid"
            src="<%= image_url('service-item-web.png') %>"
            alt="kvy-technology"
            />
            <div class="d-flex mt-4 align-items-center">
              <div class="service-list-icon-wrapper">
                <img src="<%= image_url('service-icon-web.png') %>" alt="kvy-technology"  />
              </div>
              <h5 class="service-list-item-title general-title">Web development</h5>
            </div>
            <p class="home-text mt-3 text-left">
              KVY developers are fluent in the latest web app and cloud computing technologies. We have experience delivering both consumer-facing and enterprise web applications.
            </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-list-item">
          <img
            class="img-fluid"
            src="<%= image_url('service-item-app.png') %>"
            alt="kvy-technology"
            />
            <div class="d-flex mt-4 align-items-center">
              <div class="service-list-icon-wrapper">
                <img src="<%= image_url('service-icon-app.png') %>" alt="kvy-technology"  />
              </div>
              <h5 class="service-list-item-title general-title">App Rescue</h5>
            </div>
            <p class="home-text mt-3 text-left">
              We provide micro and focus Ruby on Rails services such as: bug fixes, enhancements, test coverage maintenance and improvement
            </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="process">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5 col-12">
        <h5 class="home-content-title">Our Process</h5>
        <strong class="service-title general-big-title-height d-block">Small teams. Huge results.
        </strong>
        <p class="home-text mt-4">
          Small, adaptive, interdisciplinary teams work in close collaboration with our clients. Our user-centric approach focuses on creating a seamless experience across all digital touchpoints. By leveraging a combination of open source software, 3rd-party solutions, and proprietary tools, we deliver effective, sustainable, and performant results that drive value.
        </p>
      </div>
      <div class="col-lg-7 col-12 mt-lg-0 mt-4">
        <div class="container-fluid px-lg-3 px-0 h-100">
          <div class="row h-100">
            <div class="col-md-6 col-12">
              <div class="process-box general-title d-flex align-items-center">
                <ul>
                  <li class="d-flex aligns-item-center">
                    <img src="<%= image_url('process-vision.svg') %>" alt="kvy-technology" >
                    <span>Visioning</span>  
                  </li>
                  <li class="d-flex aligns-item-center">
                    <img src="<%= image_url('process-planning.svg') %>" alt="kvy-technology" >
                    <span>Planning</span>  
                  </li>
                  <li class="d-flex aligns-item-center">
                    <img src="<%= image_url('process-sprint.svg') %>" alt="kvy-technology" >
                    <span>Sprint</span>
                  </li>
                  <li class="d-flex aligns-item-center">
                    <img src="<%= image_url('process-shipping.svg') %>" alt="kvy-technology" >
                    <span>Shipping</span> 
                  </li>
                  <li class="d-flex aligns-item-center">
                    <img src="<%= image_url('process-retrospective.svg') %>" alt="kvy-technology" >
                    <span>Retrospective</span> 
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-12 mt-md-0 mt-4">
              <div class="process-touch d-flex align-items-center justify-content-center">
                <div class="text-md-left text-center">
                  <strong>Feeling Interested In Our Team ?</strong>
                  <a href="/contact"  class="process-touch-link">GET IN TOUCH</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="service-support-wrapper">
  <section class="service-support d-flex align-items-center">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12 text-center">
          <strong class="service-title general-big-title-height d-block">Technologies & Tools</strong>
          <small class="service-subtitle general-title">Tools to support our Leverage the power of proven technologies</small>
        </div>
      </div>
      <div class="row no-gutters">
        <ul class="service-support-list d-flex justify-content-center flex-wrap">
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-1.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-2.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-3.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-4.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-5.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-6.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-7.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-8.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-9.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-10.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-11.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-support-12.png') %>" alt="kvy-technology"  />
          </li>
        </ul>
      </div>
      <div class="row no-gutters">
        <div class="col-12 text-center">
          <p class="service-support-subtitle general-title d-block">
            Tools to support our development
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <ul class="service-support-list d-flex justify-content-center flex-wrap">
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-1.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-2.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-3.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-4.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-5.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-6.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-7.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-8.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img src="<%= image_url('service-tool-9.png') %>" alt="kvy-technology"  />
          </li>
          <li class="d-flex justify-content-center align-items-center">
            <img class="github" src="<%= image_url('service-tool-10.png') %>" alt="kvy-technology"  />
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
