@import 'lines/admin/variables_and_mixins';

$max-width: 960px;

$darkgrey: #333;
$lightgrey: #666;
$orange: #ee4422;

$blue: #3d4dbf;
$black: #100719;
$grey: #9793a0;
$white: #fff;
$green: #00c289;
$darkred: #730035;

$Poppins: 'Poppins', sans-serif;

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}
