<!------CLIENT---------------------------->
<div class="client">
  <div class="client__txt text-center">Our Client</div>
  <div class="container">
    <div class="row client__items">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 client__item">
        <img
          src="images/client_fb.svg"
          alt="kvy-technology"
          
          class="img-fluid"
        />
      </div>
      <!--END CLIENT ITEM 1-->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 client__item">
        <img
          src="images/client_google.svg"
          alt="kvy-technology"
          
          class="img-fluid"
        />
      </div>
      <!--END CLIENT ITEM 2-->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 client__item">
        <img
          src="images/client_bing.svg"
          alt="kvy-technology"
          
          class="img-fluid"
        />
      </div>
      <!--END CLIENT ITEM 3-->
    </div>
    <!--END CLIENT__ ITEMS ROW 1-->
    <div class="row client__items">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 client__item">
        <img
          src="images/client_ins.svg"
          alt="kvy-technology"
          
          class="img-fluid"
        />
      </div>
      <!--END CLIENT ITEM 4-->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 client__item">
        <img
          src="images/client_bing.svg"
          alt="kvy-technology"
          
          class="img-fluid"
        />
      </div>
      <!--END CLIENT ITEM 5-->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 client__item">
        <img
          src="images/client_fb.svg"
          alt="kvy-technology"
          
          class="img-fluid"
        />
      </div>
      <!--END CLIENT ITEM 6-->
    </div>
    <!--END CLIENT__ ITEMS ROW 2-->
  </div>
  <!--END CONTAINER-->
</div>
<!--END CLIENT-->
