<footer>
  <div class="container">
    <div class="row footer-top">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <ul class="footer-list-item">
          <li>
            <a href="/">
              <img src="<%= image_url('footer-logo.svg') %>" alt="kvy-tech" />
            </a>
          </li>
          <li class="footer-address">
            <a href="https://goo.gl/maps/zD1GNWeApVdKvmJq7" target="_blank" rel="noopener">
              9 Hoa Cau, Phu Nhuan District, HCMC, Viet Nam
            </a>
          </li>
          <li class="mt-lg-3 mt-2">
            (084) 93636 2488
          </li>
          <li>
            <a href="/contact">
              <button class="home-button">Get in Touch</button>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-4 pt-2">
        <ul class="footer-list-item">
          <li>
            <strong class="footer-title">
              Our Services
            </strong>
          </li>
          <li class="footer-first-service">
            <a href="/services">
              Mobile / Web design
            </a>
          </li>
          <li class="mt-lg-3 mt-2">
            <a href="/services">
              Web development
            </a>
          </li>
          <li class="mt-lg-3 mt-2">
            <a href="/services">
              Customer Software Development
            </a>
          </li>
          <li class="mt-lg-3 mt-2">
            <a href="/services">
              Staff Augmentation
            </a>
          </li>
          <li class="mt-lg-3 mt-2">
            <a href="/services">
              Build MVP
            </a>
          </li>
          <li class="mt-lg-3 mt-2">
            <a href="/services">
              App Rescue
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-4 pt-2">
        <ul class="footer-list-item">
          <li>
            <strong class="footer-title">
              Hiring Developers
            </strong>
          </li>
          <li class="footer-first-service">
            Ruby on Rails developers
          </li>
          <li class="mt-lg-3 mt-2">
            Elixir  developers
          </li>
          <li class="mt-lg-3 mt-2">
            Node.js developer
          </li>
          <li class="mt-lg-3 mt-2">
            React.js Developers
          </li>
          <li class="mt-lg-3 mt-2">
            Vue.js Developers
          </li>
          <li class="mt-lg-3 mt-2">
            React Native Developers
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-4 pt-2">
        <ul>
          <li>
            <strong class="footer-title">
              Follow Us
            </strong>
          </li>
          <div class="footer-link-list d-flex">
            <a
              href="https://www.facebook.com/kvytechnology"
              target="_blank"
              rel="noopener"
              class="d-flex align-items-center justify-content-center footer-link rounded-circle"
              >
              <img src="<%= image_url('fb.svg') %>" alt="kvy-technology"  />
            </a>
            <a
              href="https://github.com/kvytechnology"
              target="_blank"
              rel="noopener"
              class="d-flex align-items-center justify-content-center footer-link rounded-circle"
              >
              <img src="<%= image_url('github.svg') %>" alt="kvy-technology"  />
            </a>
            <a
              href="https://www.linkedin.com/company/kvytechnology"
              target="_blank"
              rel="noopener"
              class="d-flex align-items-center justify-content-center footer-link rounded-circle"
              >
              <img src="<%= image_url('in.svg') %>" alt="kvy-technology"  />
            </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="row footer-bottom no-gutters">
    <h6 class="m-auto text-center">
      © Copyright 2019 KVY TECHNOLOGY COMPANY LIMITED. All Rights Reserved
    </h6>
  </div>
</footer>
