<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light p-0 fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex" href="/">
      <img src="<%= image_url('logo.svg') %>" alt="kvy-technology" class="img-fluid"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 menu-list">
        <li class="nav-item">
          <a class="nav-link p-0" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="https://twl.kvytechnology.com">Today We Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="/careers">Careers</a>
        </li>
        <li class="nav-item start">
          <a class="nav-link" href="/contact">Start a project with us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
