<div class="main-container">
  <%= render 'home/partials/sections/section1' %>
  <%= render 'home/partials/sections/section2' %>
  <%= render 'home/partials/sections/section3' %>

  <%= render 'home/partials/sections/section7' %>

  <%= render 'home/partials/footer' %>
</div>
