<section class="section-team-small">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Meet our team</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="team-member team-member--small">
                    <%= image_tag("long2.jpg") %>
                    <h4>Long Nguyen</h4>
                    <span class="team-member__role">CEO</span>
                    <p>
                        Partner advisors bring their wealth of knowledge and wisdom gained through years of experience to assist your business in a precise and measured manner. Our team comprises business owners, former ATO auditors and professionals.
                    </p>
                </div>
                <!--end of small team member-->
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="team-member team-member--small">
                    <%= image_tag("man4.jpg") %>
                    <h4>Man Vuong</h4>
                    <span class="team-member__role">CTO</span>
                    <p>
                        Partner advisors bring their wealth of knowledge and wisdom gained through years of experience to assist your business in a precise and measured manner. Our team comprises business owners, former ATO auditors and professionals.
                    </p>
                </div>
                <!--end of small team member-->
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="team-member team-member--small">
                    <%= image_tag("minh1.jpg") %>
                    <h4>Minh Dang</h4>
                    <span class="team-member__role">Fullstack developer</span>
                    <p>
                        Partner advisors bring their wealth of knowledge and wisdom gained through years of experience to assist your business in a precise and measured manner. Our team comprises business owners, former ATO auditors and professionals.
                    </p>
                </div>
                <!--end of small team member-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="team-member team-member--small">
                    <%= image_tag("trung1.jpg") %>
                    <h4>Trung Tran</h4>
                    <span class="team-member__role">Frontend developer</span>
                    <p>
                        Partner advisors bring their wealth of knowledge and wisdom gained through years of experience to assist your business in a precise and measured manner. Our team comprises business owners, former ATO auditors and professionals.
                    </p>
                </div>
                <!--end of small team member-->
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="team-member team-member--small">
                    <%= image_tag("vu1.jpg") %>
                    <h4>Vu Tran</h4>
                    <span class="team-member__role">Fullstack developer</span>
                    <p>
                        Partner advisors bring their wealth of knowledge and wisdom gained through years of experience to assist your business in a precise and measured manner. Our team comprises business owners, former ATO auditors and professionals.
                    </p>
                </div>
                <!--end of small team member-->
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="team-member team-member--small">
                    <%= image_tag("nghia1.jpg") %>
                    <h4>Nghia Nguyen</h4>
                    <span class="team-member__role">Frontend developer</span>
                    <p>
                        Partner advisors bring their wealth of knowledge and wisdom gained through years of experience to assist your business in a precise and measured manner. Our team comprises business owners, former ATO auditors and professionals.
                    </p>
                </div>
                <!--end of small team member-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
