<!------TESTIMONAIL---------------------------->
<div class="testimonials">
  <div class="testimonials__title text-center">Testimonials</div>
  <div class="container">
    <div class="row">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-interval="false"
        data-ride="carousel"
        data-pause="hover"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="1"
          ></li>
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="2"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrlong.svg" alt=""  />
                  <div class="testimonials__name">long nguyen</div>
                  <div class="testimonials__job">CEO</div>
                </div>
                <!--END TESTIMONIAL ITEM 1-->
              </div>
              <!--END COL-->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrman.svg" alt=""  />
                  <div class="testimonials__name">man vuong</div>
                  <div class="testimonials__job">CTO</div>
                </div>
                <!--END TESTIMONIAL ITEM 2-->
              </div>
              <!--END COL-->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrminh.svg" alt=""  />
                  <div class="testimonials__name">minh dang</div>
                  <div class="testimonials__job">fullstack developer</div>
                </div>
                <!--END TESTIMONIAL ITEM 3-->
              </div>
              <!--END COL-->
            </div>
            <!--END ROW 1-->
          </div>
          <!--END CAROUSEL ITEM-->
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrtrung.svg" alt=""  />
                  <div class="testimonials__name">trung tran</div>
                  <div class="testimonials__job">frontend developer</div>
                </div>
                <!--END TESTIMONIAL ITEM 4-->
              </div>
              <!--END COL-->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrvu.svg" alt=""  />
                  <div class="testimonials__name">vu tran</div>
                  <div class="testimonials__job">backend developer</div>
                </div>
                <!--END TESTIMONIAL ITEM 5-->
              </div>
              <!--END COL-->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrdung.svg" alt=""  />
                  <div class="testimonials__name">dung vu</div>
                  <div class="testimonials__job">frontend developer</div>
                </div>
                <!--END TESTIMONIAL ITEM 6-->
              </div>
              <!--END COL-->
            </div>
            <!--END ROW 2-->
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrdong.svg" alt=""  />
                  <div class="testimonials__name">dong tran</div>
                  <div class="testimonials__job">ui designer</div>
                </div>
                <!--END TESTIMONIAL ITEM 7-->
              </div>
              <!--END COL-->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/mrnghia.svg" alt=""  />
                  <div class="testimonials__name">nghia doan</div>
                  <div class="testimonials__job">frontend developer</div>
                </div>
                <!--END TESTIMONIAL ITEM 8-->
              </div>
              <!--END COL-->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonials__item text-center">
                  <img src="images/quote-blue.svg" alt=""  />
                  <div class="testimonials__txt">
                    I’ve been working with these guy for along time and I
                    can say that my digital business model in the perfect
                    hands
                  </div>
                  <img src="images/avatar/msquy.svg" alt=""  />
                  <div class="testimonials__name">quy le</div>
                  <div class="testimonials__job">office assistant</div>
                </div>
                <!--END TESTIMONIAL ITEM 9-->
              </div>
              <!--END COL-->
            </div>
            <!--END ROW 3-->
          </div>
        </div>
      </div>
      <!--END ROW-->
    </div>
    <!--END CONTAINER -->
  </div>
  <!--END CAROUSEL SLIDE-->
</div>
<!--END TESTIMONIALS-->
