@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 400;
  src: font-url("Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 500;
  src: font-url("Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 600;
  src: font-url("Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 700;
  src: font-url("Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 800;
  src: font-url("Poppins-ExtraBold.ttf");
}
.general-big-title-height{
  font-size: 60px;
  line-height: 90px;
  letter-spacing: -0.03em;
}
.general-big-title{
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -0.03em;
}
.general-title{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
html,body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #fafafa;
  width: 100%;
}
nav.navbar {
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}
a.navbar-brand {
  height: 60px;
}
.menu-list .nav-item {
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.menu-list .nav-item:first-child {
  margin-left: 0;
}
.menu-list .nav-item.active::before {
  content: "";
  display: block;
  height: 2px;
  background: #117eff;
  position: absolute;
  width: 125%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
.menu-list .nav-item a.nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.44px;
  color: #888888;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.menu-list .nav-item:last-child a.nav-link {
  color: #117eff;
}
.menu-list .nav-item.active a.nav-link {
  color: #666666;
}
.menu-list .nav-item.start a.nav-link {
  color: white;
  background: #3d4dbf;
  border-radius: 4px;
  transition: 0.4s;
  border: 1px solid transparent;
  padding: 12px 16px;
}
.menu-list .nav-item.start a.nav-link:hover {
  color: #3d4dbf;
  background: white;
  border-color: #3d4dbf;
}
.home-content-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: -0.02em;
  color: #000000;
  text-transform: capitalize;
}
.home-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.44px;
  margin-top: 10px;
}
.home-title {
  color: #000000;
  font-weight: 600
}
.home-banner {
  width: 100%;
  height: calc(100% - 80px);
  color: #fff;
  margin-top: 80px;
}
.home-banner-dotted,
.home-banner-building,
.home-banner-bg {
  top: 0px;
  left: 0px;
}
.home-banner-bg {
  background: #001834;
  z-index: 2;
  opacity: 0.68;
}
.home-banner-dotted {
  background-image: image-url("bg-dotted.png");
  background-size: cover;
  z-index: 2;
}
.home-banner-building {
  background-image: image-url("home-banner-building.jpg");
  background-size: cover;
  z-index: 1;
}
.home-banner-bottom {
  bottom: 40px;
  z-index: 3;
}
.home-banner-bottom ul li {
  margin: 0 15px;
}
.home-banner-bottom ul li:first-child {
  margin-left: 0px;
}
.home-banner-bottom ul li:last-child {
  margin-right: 0px;
}
.home-banner-client {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.home-banner-main {
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 6px));
}
.home-banner-title {
  font-weight: 800;
}
.home-banner-subtitle {
  margin-top: 28px;
  font-weight: normal;
}
.customer {
  background: white;
  padding: 60px 0;
}
.customer ul li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.customer-title {
  color: #666666;
  margin-bottom: 20px;
}
.problem {
  padding: 40px 0px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.44px;
  color: #666666;
}
.problem-list li {
  margin-top: 20px;
}
.problem-list li p {
  margin-left: 22px;
}
.solution {
  background: white;
  padding: 60px 0;
}
.solution .home-text {
  color: #666666;
}
.solution .home-content-title {
  margin-top: 60px;
}
.solution-item-text {
  color: #000000;
  font-weight: 600;
}
.solution-item-list > div {
  margin: 40px 0px;
}
.solution-item-list > div img {
  margin-right: 32px;
}
.benefit {
  padding-top: 50px;
  padding-bottom: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #666666;
}
.benefit-item-list li {
  margin-top: 50px;
}
.benefit-item-list li img {
  border: 1px solid #444444;
  border-radius: 4px;
  padding: 5px;
}
.benefit-banner {
  margin: 50px 0;
}
.benefit-wrapper-icon {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.friend {
  padding-top: 60px;
  padding-bottom: 150px;
  background: white;
}
.friend::before {
  content: image-url("left-shape.jpg");
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
}
.friend-left {
  width: 40%;
}
.friend-right {
  width: 60%;
}
.friend-right li {
  width: calc(100% / 3);
  text-align: center;
  padding: 20px 8px 34px 8px;

}
.friend .home-text {
  color: #666666;
}
.client {
  background: #3d4dbf;
  padding-top: 80px;
  padding-bottom: 218px;
  background-image: image-url("client-bg.svg");
  background-size: cover;
}
.client .home-title {
  color: #fcf2f2;
  line-height: 64px;
}
.client .home-text {
  color: #666666;
}
.client-carousel {
  margin-top: 70px;
}
.client-carousel-item {
  width: 80%;
  background: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  min-height: 165px;
  padding: 50px 20px 50px 40px;
  display: none;
}
.client-carousel-quote {
  margin-right: 45px;
}
.client-carousel-list {
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.client-carousel-list > li {
  margin: 0 28px;
  cursor: pointer;
  display: inline-block;
}
.client-carousel-list > li img {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.client-carousel-list > li .client-info {
  display: none;
}
.client-carousel-list > li.active img {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transform: scale(1.2);
}
.client-carousel-list > li.active .client-info {
  display: block;
}
.client-info {
  margin-left: 16px;
}
.client-info span {
  color: #fffbfb;
}
.client-info small {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #acb6fd;
}
.show-carousel {
  -webkit-animation-name: show-carousel;
  -webkit-animation-duration: 1s;
  animation-name: show-carousel;
  animation-duration: 1s;
}
@-webkit-keyframes show-carousel {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-carousel {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.home-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 30px;
  background: #3d4dbf;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 35px;
  transition: 0.5s;
}
.home-button:hover {
  border: 1px solid #3d4dbf;
  background: white;
  color: #3d4dbf;
}
.working {
  background-image: image-url("home-work-banner.png");
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 80px;
  color: #666666;
  min-height: 800px;
}
.working::before,
.working::after {
  content: image-url("left-shape.jpg");
  display: block;
  position: absolute;
  z-index: -1;
}
.working::before {
  left: 0;
  top: 40%;
}
.working::after {
  right: 0;
  top: 25%;
}
.working .home-title {
  margin-bottom: 70px;
}
.working-item-wrapper {
  position: relative;
}
.working-item {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 17, 134, 0.06);
  border-radius: 16px;
  padding: 78px 16px 40px 16px;
  height: 100%;
}
.working-item-number-first,
.working-item-number-second {
  position: absolute;
  font-weight: 600;
  font-size: 88px;
  letter-spacing: -0.03em;
  color: #29347b;
  top: -40px;
}
.working-item-number-first {
  left: -10px;
  z-index: -1;
}
.working-item-number-second {
  z-index: 2;
  left: 45px;
}
.sound {
  padding: 110px 0px;
  background: #3d4dbf;
  background-image: image-url("sound-bg.png");
  background-size: cover;
}
.sound .home-title {
  color: #bfc7ff;
}
.sound-item {
  background: #ffffff;
  border-radius: 4px;
  padding: 15px 46px;
  margin-top: 40px;
  font-weight: bold;
  color: #3d4dbf;
  border: 1px solid transparent;
  transition: 0.4s;
  display: inline-block;
}
.sound-item:hover {
  background: #3d4dbf;
  color: white;
  border-color: white;
}
.service-title {
  font-weight: 600;
  color: #000000;
}
.service-subtitle {
  color: #000000;
  margin-top: 11px;
}
.general-banner {
  padding: 60px 0;
  margin-top: 80px;
}
.general-banner-title {
  font-weight: bold;
  color: #3d4dbf;
  position: absolute;
  left: 0;
  width: 130%;
  z-index: 1;
}
.general-banner-text {
  color: #000000;
  margin-top: 80px;
}
.service-list {
  padding: 80px 0;
  background: white;
}
.service-list-row > div {
  margin: 20px 0;
}
.service-list .home-text {
  color: #666666;
}
.service-list-item {
  background: #fafafa;
  border-radius: 16px;
  padding: 28px 30px;
  border: 1px solid transparent;
  height: 100%;
  transition: 0.2s;
  text-align: center;
}
.service-list-item:hover {
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}
.service-list-item-title {
  font-weight: 600;
  color: #000000;
  text-align: left;
}
.service-list-icon-wrapper {
  margin-right: 24px;
}
.process {
  padding: 110px 0;
  background: #3d4dbf;
  color: #fff;
  background-image: image-url("process-bg.png");
  background-size: cover;
}
.process .service-title {
  color: #ffffff;
  line-height: 64px;
}
.process .home-content-title {
  font-weight: bold;
  color: #bfc7ff;
}
.process-box {
  color: #ffffff;
  background: #4557d7;
  border-radius: 8px;
  padding: 32px;
  height: 100%;
}
.process-box li {
  padding: 8px 0;
}
.process-box li:first-child {
  margin-top: 0;
}
.process-box li > img {
  margin-right: 18px;
}
.process-touch {
  padding: 45px 32px 32px 32px;
  background: #2d3a92;
  border-radius: 8px;
  height: 100%;
}
.process-touch strong {
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.process-touch-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #4557d7;
  padding: 10px 0px;
  display: block;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s;
  margin-top: 34px;
}
.process-touch-link:hover {
  background: #4557d7;
  color: white;
}
.service-support-wrapper {
  padding: 60px 26px 100px 26px;
  position: relative;
}
.service-support-wrapper::before {
  content: image-url("left-shape.jpg");
  position: absolute;
  right: 0;
  top: 250px;
}
.service-support {
  padding: 22px 0;
  background-image: image-url("home-work-banner.png");
  background-size: cover;
}
.service-support.second {
  padding-top: 15px;
  padding-bottom: 140px;
}
.service-support > img {
  position: absolute;
  right: 0px;
  top: 45%;
}
.service-support-list {
  margin-top: 50px;
  width: 100%;
}
.service-support-list li {
  margin: 30px 0;
  width: calc(100% / 6);
}
.service-support-list li img {
  transition: 0.25s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  &.github {
   opacity: .6;
  }
}
.service-support-list li img:hover {
  transition: 0.2s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  &.github {
    opacity: 1;
  }
}
.service-support-subtitle {
  color: #000000;
  margin-top: 46px;
  margin-bottom: 10px;
}
.story-support {
  padding-top: 96px;
  padding-bottom: 60px;
  background: white;
}
.story-support-item-title {
  font-weight: 600;
  color: #000000;
}
.story-support::before {
  content: image-url("left-shape.jpg");
  position: absolute;
  top: 125px;
  left: 0;
}
.story-support > img {
  position: absolute;
  left: 0;
  top: 24px;
}
.story-support-item {
  margin: 30px 15px;
}
.story-support-item.next {
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  height: calc(100% - 114px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-support-item.next > div {
  width: 90%;
}
.story-support-item.next .home-text {
  margin-top: 24px;
  color: #666666;
}
.story-support-item .home-text {
  color: #000000;
}
.story-support-item .home-button {
  margin-top: 45px;
  padding: 14px 60px;
}

.story-support-avatar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: black;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  180deg,
  rgba(61, 77, 191, 0.17) 25.24%,
  #16248b 100%
  );
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -ms-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition:  opacity .2s ease-out;
}

.story-support-avatar:hover::before {
  opacity: 1;
}

.story-support img {
  border-radius: 16px;
}
.story-support-name {
  color: #000000;
  text-transform: capitalize;
}
.story-support-position {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #000000;
  text-transform: capitalize;
}
.story-value {
  padding: 80px 0;
}
.story-value-title {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #000000;
}
.story-value-subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #000000;
}
.story-value-item {
  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin: 10px 15px;
  min-height: 240px;
  padding: 60px 10px 30px 10px;
  height: 100%;
  color: #666666;
  transition: 0.4s;
}
.story-value-item .story-icon-hover {
  display: none;
}
.story-value-item:hover > .story-icon-hover {
  display: initial;
}
.story-value-item:hover > .story-icon {
  display: none;
}
.story-value-item:hover {
  background: #3d4dbf;
}
.story-value-item:hover .story-value-subtitle {
  color: white;
}
.story-value-item:hover .home-text {
  color: #c7ceff;
}
.story-value .row {
  margin-top: 24px;
}
.story-join {
  background: #3d4dbf;
  padding: 70px 0;
  background-image: image-url("story-join-bg.png");
  background-size: cover;
}
.story-join-wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 70px 170px;
}
.story-join .home-text {
  margin-top: 18px;
  color: #666666;
}
.story-join .home-button {
  margin-top: 46px;
  padding: 14px 78px;
}
.blog-tab {
  padding-top: 87px;
  padding-bottom: 350px;
}
.blog-tab ul.nav li {
  position: relative;
}
.blog-tab ul.nav a.active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #3d4dbf;
  position: absolute;
  bottom: -22px;
}
.blog-tab hr {
  background: #c4c4c4;
  margin-top: 22px;
  margin-bottom: 50px;
}
.blog-tab ul.nav-tabs {
  border-bottom: none;
}
.blog-tab .nav li a {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.5px;
  padding: 0 30px;
  width: 100%;
  color: #666666;
}
.blog-tab .nav-tabs li a.active {
  color: #3d4dbf;
}
.blog-tab-item {
  min-height: 300px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.blog-tab-image {
  border-radius: 16px 0px 0px 16px;
  background: white;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-tab-content-wrapper {
  background: white;
  border-radius: 0 16px 16px 0;
}
.blog-tab-content {
  padding: 40px 30px 0px 30px;
}
.blog-tab .home-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #666666;
}
.blog-tab-footer {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  margin-top: 32px;
  bottom: 40px;
  color: #666666;
  justify-content: center;
}
.blog-tab-footer span {
  margin-right: 1rem;
}
.blog-tab-footer .news {
  color: #3d4dbf;
}
.blog-detail-banner {
  position: relative;
  margin-top: 80px;
  background: #3d4dbf;
  padding: 90px 0;
}
.blog-detail-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: -0.03em;
  color: #bfc7ff;
  width: 100%;
}
.back-to {
  transform: translateY(-50%);
}
.back-to-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: white;
}
.blog-tab-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #3d4dbf;
}
.blog-detail-banner .blog-tab-footer span {
  color: #96c6ff;
  margin-right: 1rem;
}
.blog-content {
  padding-top: 2rem;
  padding-bottom: 10rem;
  color: #666666;
}
.blog-content img {
  margin-bottom: 60px;
}
.blog-content p {
  margin-bottom: 32px;
}
.career {
  padding-top: 45px;
  padding-bottom: 100px;
}
.career-title {
  font-weight: 600;
  color: #000000;
  margin-bottom: 32px;
}
.career-item-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #000000;
}
.career p.home-text {
  color: #666666;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.career .home-content-title {
  margin-bottom: 50px;
}
.career-item {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  margin-bottom: 40px;
  transition: 0.3s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}
.career-item-left {
  padding-right: 60px;
}
.career-item ul {
  margin-top: 24px;
}
.career-item ul li:first-child {
  margin-right: 40px;
}
.career span.home-text {
  color: #000000;
}
.career-item .home-button {
  display: none;
  transition: 0.5s;
  -webkit-animation-name: show-carousel;
  -webkit-animation-duration: 0.7s;
  animation-name: show-carousel;
  animation-duration: 0.7s;
}
.career-item:hover {
  box-shadow: 0px 10px 15px rgba(17, 126, 255, 0.2);
}
.career-item:hover a.home-button {
  display: block;
}
.touch {
  margin-top: 80px;
  position: relative;
}
.touch-right {
  max-width: 570px;
  padding-top: 30px;
}
.touch-right.fixed-center {
  position: fixed;
  padding-top: 0;
}
.touch-content {
  margin: 0 auto;
}
.touch-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #3d4dbf;
  margin-bottom: 16px;
}
.touch form {
  margin-top: 45px;
}
.touch-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #000000;
}
.touch-info {
  margin-top: 0;
  margin-left: 8px;
  color: #666666;
}
.touch-icon-warpper {
  min-height: 22px;
}
.touch-submit {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 60px;
  border: 1px solid transparent;
  background: #3d4dbf;
  border-radius: 8px;
  transition: 0.5s;
}
.touch-submit:hover {
  color: #117eff;
  border: 1px solid #117eff;
  background-color: white;
}
.touch input[type="text"] {
  min-height: 48px;
}
.touch-input[type="text"],
textarea {
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 8px;
}
.touch-mansory {
  width: 100%;
}
.touch-mansory img {
  max-width: 100%;
  height: auto;
}
.container-mansory {
  columns: 3;
  column-gap: 8px;
}
.container-mansory div,
.container-mansory img {
  vertical-align: bottom;
}
.item {
  width: 100%;
  padding-top: 8px;
}
.item:nth-child(3) {
  padding-top: 10px;
}
.item:nth-child(7) {
  padding-top: 12px;
}
.item:nth-child(8) {
  padding-top: 10px;
}
footer {
  background: #262b4d;
}
.footer-top {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #b5bceb;
  padding-top: 60px;
  padding-bottom: 78px;
}
.footer-top a {
  color: #b5bceb;
  font-weight: 500;
}
.footer-address {
  margin-top: 21px;
}
.footer-first-service {
  margin-top: 40px;
}
.footer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
  position: relative;
  text-transform: capitalize;
}
.footer-title:after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0px;
  width: 40px;
  height: 4px;
  background: #b5bceb;
}
.footer-list-item li {
  transition: 0.3s;
}
.footer-list-item li:hover,
.footer-list-item li:hover a {
  color: #ffffff;
}
.footer-link-list {
  margin-top: 40px;
}
.footer-link {
  height: 32px;
  width: 32px;
  background: #ffffff;
  display: inline-block;
  margin-right: 24px;
  transition: 0.3s;
}
.footer-link:hover {
  background: #3d4dbf;
}
.footer-link:hover img {
  filter: brightness(10);
}
.footer-bottom {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #ffffff;
  background: #333962;
  padding: 25px 0;
}
.mt-80 { 
  margin-top: 80px;
}
