@media (min-width: 1024px) {
  .blog-detail-banner > div.container {
    position: relative;
  }
}
@media (min-width: 992px) {
  .working .row .working-item-wrapper:nth-child(even) {
    top: 142px;
  }
}
@media (max-width: 1400px) {
  .problem-right {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1199px) {
  .touch .touch-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-tab .home-text {
    -webkit-line-clamp: 4;
  }
  .blog-tab-footer {
    bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .home-title {
    font-size: 30px;
    line-height: 40px;
  }
  .friend > div.d-flex {
    display: block !important;
  }
  .friend-left {
    width: 100%;
    text-align: center;
  }
  .friend-right {
    width: 100%;
    margin-top: 10px;
  }
  .footer-top {
    font-size: 1rem;
  }
  .footer-link-list {
    margin-top: 20px;
  }
  .footer-link {
    margin-right: 10px;
  }
  .footer-title {
    font-size: 1.2rem;
  }
  .footer-bottom {
    font-size: 0.8rem;
  }
  .home-button {
    padding: 8px 15px;
    margin-top: 10px;
  }
  .story-join .home-text {
    margin-top: 12px;
  }
  .story-join .home-button {
    margin-top: 40px;
    padding: 14px 20px;
  }
  .service-title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 992px) {
  .story-join-wrapper {
    padding: 70px 10px;
  }
  .customer {
    padding: 40px 0;
  }
  .customer ul li {
    padding: 20px 0;
    margin: 0 auto;
  }
  .home-banner-title {
    font-size: 2rem;
    line-height: 35px;
  }
  .home-banner-subtitle {
    font-size: 0.9rem;
  }
  .navbar .navbar-nav {
    margin-bottom: 30px;
    text-align: center;
  }
  .general-banner {
    padding: 100px 0;
  }
  .general-banner-title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .blog-tab {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .blog-tab .nav-tabs li {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
  .blog-tab .nav-tabs li {
    margin-bottom: 30px;
  }
  .blog-tab hr {
    margin-top: 10px;
  }
  .blog-tab-content {
    padding-top: 20px;
  }
  .blog-tab .home-text {
    -webkit-line-clamp: 6;
  }
  .blog-tab ul.nav a.active::after {
    bottom: -5px;
  }
  .blog-detail-title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .back-to {
    margin-bottom: 2rem;
  }
  .menu-list .nav-item {
    margin-top: 10px;
    padding: 5px;
    display: inline;
    height: auto;
    margin-left: 0px;
  }
  .menu-list .nav-item.active::before {
    width: 45%;
  }
}
@media (max-width: 991px) {
  .working-item-wrapper .working-item {
    position: static;
  }
  .working-item-wrapper {
    margin-top: 60px;
  }
  .working .row .working-item-wrapper:first-child {
    margin-top: 0;
  }
  .working .working-item {
    padding-top: 56px;
  }
  .benefit-item-list > div {
    margin-top: 40px;
  }
  .general-banner-title {
    width: 100%;
  }
  .footer-address {
    margin-top: 15px;
  }
  .footer-title:after {
    bottom: 0px;
  }
  .working-item-number-first {
    left: 0px;
    z-index: 0;
  }
  .working-item-number-second {
    z-index: 2;
    left: 60px;
  }
  .service-support-list li {
    width: calc(100% / 4);
  }
  .story-support-item-title {
    font-size: 30px;
    line-height: 40px;
  }
  .story-support-item .home-text {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .sound-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .story-support-item.next {
    height: 100%;
  }
  .story-support-item.next > div {
    width: 100%;
    text-align: center;
  }
  .process {
    padding-bottom: 130px;
  }
  .process-touch {
    text-align: center;
  }
  .process-touch-link {
    position: initial;
    width: 100%;
    margin-top: 16px;
  }
  .blog-tab-image {
    border-radius: 0px;
    border-radius: 16px 16px 0 0;
  }
  .blog-tab-content-wrapper {
    border-radius: 0 0 16px 16px;
    padding-bottom: 110px;
  }
  .blog-tab-footer {
    flex-direction: column;
  }
  .blog-content > .col-12 {
    margin-left: 0;
  }
  .client-carousel-list > li {
    margin: 0 10px;
  }
  .client-carousel-list > li img {
    width: 24px;
    height: 24px;
  }
  .client-carousel-list > li.active img {
    width: 30px;
    height: 30px;
  }
  .client-info strong {
    font-size: 1rem;
    line-height: 1rem;
  }
  .client-info small {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
  .client-carousel-quote {
    margin-right: 15px;
    width: 15px;
  }
  .client-carousel-item {
    padding: 30px;
  }
}
@media (max-width: 762px) {
  .footer-title {
    font-size: 1.3rem;
  }
}
@media (min-width: 601px) {
  .friend-right li {
    position: relative;
  }
  .friend-right li:nth-child(1)::after,
  .friend-right li:nth-child(1)::before,
  .friend-right li:nth-child(2)::before,
  .friend-right li:nth-child(5)::before,
  .friend-right li:nth-child(5)::after,
  .friend-right li:nth-child(6)::before,
  .friend-right li:nth-child(6)::after {
    content: "";
    display: block;
    background: #c4c4c4;
    width: 80%;
    height: 1px;
    position: absolute;
  }
  .friend-right li:nth-child(1)::before,
  .friend-right li:nth-child(2)::before,
  .friend-right li:nth-child(5)::after,
  .friend-right li:nth-child(6)::after {
    width: 1px;
    height: 70%;
  }
  .friend-right li:nth-child(1)::before,
  .friend-right li:nth-child(2)::before {
    right: 0;
    bottom: 27px;
  }
  .friend-right li:nth-child(5)::after,
  .friend-right li:nth-child(6)::after {
    left: 0px;
    top: 34px;
  }
  .friend-right li:nth-child(1)::after,
  .friend-right li .friend-right li:nth-child(5)::before,
  .friend-right li:nth-child(6)::before {
    width: 80%;
    height: 1px;
  }
  .friend-right li:nth-child(1)::after {
    right: 27px;
    bottom: 0;
  }
  .friend-right li:nth-child(5)::before,
  .friend-right li:nth-child(6)::before {
    left: 27px;
    top: 0;
  }
}
@media (max-width: 600px) {
  .client-carousel {
    margin-top: 30px;
  }
  .client-carousel-list > li .client-info {
    display: none !important;
  }
  .client {
  }
  .friend-right li {
    width: 100%;
    padding: 20px 0px;
  }
  .friend-left {
    padding: 0 5px;
  }
  .navbar .container {
    padding: 0 20px;
  }
  .career-item {
    padding: 30px 10px;
  }
  .touch-submit {
    padding: 8px 0px;
    width: 100%;
  }
  .client-carousel-item {
    position: relative;
    width: 100%;
  }
  .client-carousel-quote {
    margin-right: 15px;
    width: 15px;
    position: absolute;
    top: 18px;
  }
  .blog-detail-banner .blog-tab-footer span {
    margin-right: 0;
  }
  .service-support-list li {
    width: calc(100% / 2);
  }
  .service-title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .solution-item-text {
    font-size: 24px;
    line-height: 28px;
  }
  .home-banner-bottom ul li {
    margin: 0 6px;
  }
  .home-banner-client {
    font-size: 10px;
    line-height: 12px;
  }
  .home-banner-bottom {
    bottom: 10px;
  }
}
@media (max-width: 991px) {
  .touch-mansory {
    display: none;
  }
  .touch-right {
    padding-top: 0;
  }
}
