<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KVY Tech - Ruby on Rails, Elixir, Phoenix, Javascript Development</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript." />
    <meta name="keywords" content="ruby on rails development services, ruby on rails company vietnam, elixir development vietnam, phoenix web development, web development agency vietnam, elixir developers, rails developers vietnam"/>
    <meta property="og:title" content="KVY Tech - Ruby on Rails, Elixir, Phoenix, Javascript Development" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kvytechnology.com" />
    <meta property="og:image" content="https://kvytechnology.com/kvylogo.png" />
    <meta property="fb:app_id" content="483082738817395" />
    <meta property="og:description" content="Agile software development shop in Vietnam that focus on E-commerce & web development with Ruby on Rails, Elixir, Phoenix and Javascript." />
    <link rel="shortcut icon" href="/kvylogo.png" type="image/x-png">
    <link rel="preload" href="<%= asset_url('Poppins-Regular.ttf') %>" as="font" crossorigin>
    <link rel="preload" href="<%= asset_url('Poppins-Medium.ttf') %>" as="font" crossorigin>
    <link rel="preload" href="<%= asset_url('Poppins-SemiBold.ttf') %>" as="font" crossorigin>
    <link rel="preload" href="<%= asset_url('Poppins-Bold.ttf') %>" as="font" crossorigin>
    <link rel="preload" href="<%= asset_url('Poppins-ExtraBold.ttf') %>" as="font" crossorigin>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'home/partials/header' %>
    <% flash.each do |key, value| %>
      <div class="alert mt-80 mb-0 alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'home/partials/footer' %>
  </body>

  <%= javascript_include_tag 'application' %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96045168-1');
  </script>

</html>
